@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
  margin: 0;
  padding: 0;
}
.main{
  height: 100vh;
}
.main-section{
  margin: 0;
  background: url(assets/bg2.jpg);
  padding: 0;
  height: 85vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  
}

.header{
  background-color: #faed26;
  height: 2.5rem;
}
.footer{
  background-color: #faed26;
  height: 2.5rem;
}
.navbar{
  background-color: #5a5560;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
}

.nav-brand{
  margin: 1rem;
  font-weight: 800;
  font-size: 2.5rem;

}

.nav-link-list{
  list-style: none;
  display: flex;
  margin: 1rem;

}
.nav-link-list-item{
  margin: 0 1rem;
  font-weight: 800;
  font-size: 1.5rem;
}
Link{
  text-decoration: none;
}
